:root{
  --size: 7.5;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c7692c' fill-opacity='0.42'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



.paper{
  display: block;
  position: absolute;
  width: calc(var(--size) * 1%);
  height: 0px;
  padding-bottom: calc(var(--size) * 1%);
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - (var(--size) / 2) * 1%);
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 400px;
  user-select: none;
  -webkit-user-select: none;
}

.plane{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 300ms;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateZ(-60deg);
}

.side{
  position: absolute;
  top: -50%;
  left: 50%;
  width: 100%;
  height: 200%;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 500ms;
}


.right-side{
  transform: rotateY(0deg);/*-60*/
}

.left-side{
  transform: rotateY(180deg);/*240*/
}

.part{
  width: 100%;
  height: 0px;
  padding-bottom: 300%;
  background-color: rebeccapurple;
  position: absolute;
  transform-style: preserve-3d;
  opacity: .7;
}


.wing{
  top: 0px;
  left: 100%;
  transform-origin: left;
  /*transform: rotateY(60deg);*/
  transition: 700ms;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
}

.wing-left{
  transform-origin: left;
  /*transform: rotateY(-60deg);*/
}

#fold, #unfold, #top, #bottom, #left, #right, #front, #back {
  display: none;
}

.nose {
  top: -50%;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
  font-size: 0;
  transform-origin: right;
  padding-bottom: 100%
}

.nose::before {
  content: '';
  background-color: rebeccapurple;
  transform: rotateZ(45deg);
  width: 200%;
  height: 100%;
  position: absolute;
  transform-origin: top left;
}



.wing::before {
  content: '';
  background-color: rebeccapurple;
  transform: rotateZ(45deg);
  width: 300%;
  height: 100%;
  position: absolute;
  transform-origin: top left;
}




#fold:checked ~ .paper .left-side{
  transform: rotateY(260deg);
}

#fold:checked ~ .paper .right-side{
  transform:  rotateY(-80deg);
}

#fold:checked ~ .paper .wing-right {
  transform: rotateY(70deg);
}

#fold:checked ~ .paper .wing-left {
  transform: rotateY(-70deg);
}


.paper:active .left-side{
  transform: rotateY(260deg);
}

.paper:active .right-side{
  transform:  rotateY(-80deg);
}

.paper:active .wing-right {
  transform: rotateY(70deg);
}

.paper:active .wing-left {
  transform: rotateY(-70deg);
}

















.controls {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  height: auto;
  background-color: #0006;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  -webkit-user-select: none;
  overflow: hidden;
}

.controls label {
  color: #ccc;
  cursor: pointer;
  padding: 10px;
  font-size: 3vw;
}
.controls label:active {
  color: #fff;
  cursor: pointer;
  background-color: #ccc;
}




#fold:checked ~ .controls label[for="fold"] {
  box-shadow: inset 0 0 0 5px #fff;
}

#unfold:checked ~ .controls label[for="unfold"] {
  box-shadow: inset 0 0 0 5px #fff;
}








#top:checked ~ .controls label[for="top"] {
  box-shadow: inset 0 0 0 5px #fff;
}

#bottom:checked ~ .controls label[for="bottom"] {
  box-shadow: inset 0 0 0 5px #fff;
}

#left:checked ~ .controls label[for="left"] {
  box-shadow: inset 0 0 0 5px #fff;
}

#right:checked ~ .controls label[for="right"] {
  box-shadow: inset 0 0 0 5px #fff;
}

#front:checked ~ .controls label[for="front"] {
  box-shadow: inset 0 0 0 5px #fff;
}

#back:checked ~ .controls label[for="back"] {
  box-shadow: inset 0 0 0 5px #fff;
}






#top:checked ~ .paper .plane{
  transform: rotateX(0deg) rotateY(0deg);
}

#bottom:checked ~ .paper .plane{
  transform: rotateX(0deg) rotateY(180deg);
}

#left:checked ~ .paper .plane {
  transform: rotateX(80deg) rotateZ(-90deg);
}

#right:checked ~ .paper .plane {
  transform: rotateX(80deg) rotateZ(90deg);
}

#front:checked ~ .paper .plane {
  transform: rotateX(80deg) rotateY(0deg) rotateZ(179.999deg)
}

#back:checked ~ .paper .plane {
  transform: rotateX(80deg) rotateY(0deg);
}